*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/*------------- header------------------ */
header{
    padding: 16px 80px;
    border: 1.5px solid #D3D3D3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

/* logo */
#logo-content img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#logo-content a{
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
}


#logo-content h1{
    font-size: 1.8rem;
    font-family: 'Playfair Display';
}

/* navlinks */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    gap: 20px;
    font-family: 'DM Sans';
}

nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;  
}


nav a{
    text-decoration: none;
    color: #212121;
    padding: 1rem ;
    transition: all 0.3s ease-in;
}

nav a:hover{
    color: #861F1F;
    text-decoration: underline;
}

nav a.active{
    color: #861F1F;
    text-decoration: underline;
}

/* search */
 #search {
  padding: 6px 30px 6px 30px; 
  border: none;
  border-radius: 60px;
  background-color: #f0f0f0;
  background-image: url(./images/search-icon.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  font-family: 'DM Sans';
  transition: all 0.3s ease;
}

.search-container {
  position: relative;
  display: inline-block;
}

#clearSearch {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #616161;
}

nav #search:focus {
    border: 1.4px solid #861F1F;
    box-shadow: 0 0 2px #861F1F;
    outline: none;
}

nav input::placeholder{
    font-size: 0.7rem;
    color: #616161;
}


#message{
    color: #b00020;
    text-align: center;
    font-family: 'DM Sans';
    font-size: 1.6rem;
}

.highlight {
      border-color: #861F1F;
      box-shadow: 0 0 10px #861F1F;
      transform: scale(1.0);
    }

/* login-btn */
nav .login-btn{
    background-color: white;
    border: 1px solid #212121;
    border-radius: 30px;
    color: #212121;
    text-align: center;
    width: 4rem;
    padding: 6px;
    transition: all 0.3s ease-in;
}

nav .login-btn:hover{
    color: white;
    background-color: #861F1F;
    text-decoration: none;
    border: none;
}

#logoutBtn{
    background-color: white;
    border: 1px solid #212121;
    border-radius: 30px;
    color: #212121;
    text-align: center;
    width: 4rem;
    padding: 6px;
    transition: all 0.3s ease-in;
}

#logoutBtn:hover{
    color: white;
    background-color: #861F1F;
    text-decoration: none;
    border: none;
}

.hamburger{
    display: none;
    color: #212121;
    cursor: pointer;
    font-size: 1.5rem;
}

/* navbar media query */
@media(max-width:768px){
    header{
    padding: 10px 30px;
}

 nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }
  
 nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

    .nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


    .hamburger{
        display: block;
    }

    nav.active-menu {
    display: flex;
  }



  nav ul li a {
    display: block;
    padding: 8px 16px;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }

  #search {
  padding: 5px 28px 5px 28px; 
  width: 100px;
}


}

/*hero image*/
.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(50%);
}

.slide-text {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
}

.slide-text h1 {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
}

.slide-text p {
  font-size: 1.1rem;
  font-family: 'DM Sans', sans-serif;
  letter-spacing: 1.5px;
}

.slider-dots{
position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  cursor: pointer;
}

.dot.active-dot{
    background-color: white;
}



/* hero image media query */
@media(max-width:768px) {
    .slider {
    height: 30vh; 
  }

  .slider-dots {
    bottom: 600px; /* move dots upward */
  }

  .slide-text {
    top: 25%;
    left: 8%;
  }

  .slide-text h1 {
  font-size: 2rem;
}

.slide-text p {
  font-size: 1rem;
  letter-spacing: 1px;
}

.dot {
  width: 8px;
  height: 8px;
}


}


/* -------------------------about on home page--------------------------- */
.about{
    background-color: #F9F9F7;
    padding: 7% 12%;
    display: flex;
    gap: 4%;
    color: #212121;
}

.about img{
    border-radius: 10px;
    object-fit: cover;
    max-width: 400px;
    height: 450px;
}

/* about (home page) content */
.about-content h1{
    font-family: 'Playfair Display';
    font-weight: lighter;
    font-size: 3rem;
}

.about-content p{
    font-family: 'DM Sans';
    margin-top: 15px;
    line-height: 2rem;
    text-align: justify;
}

.about-content{
    margin-top: 30px;
}

/* about us button */
.aboutUs-btn {
  margin-top: 6%;
  width: fit-content;
}

.aboutUs-btn a {
  background-color: #861F1F;
  color: white;
  text-decoration: none;
  font-family: 'DM Sans';
  font-size: 0.8rem;
  border-radius: 50px;
  padding: 8px 30px 8px 20px; /* space for text + arrow */
  display: inline-block;
  background-image: url(images/arrow-forward.png);
  background-repeat: no-repeat;
  background-position: right 12px center;
  transition: background-color 0.3s ease-in;
  line-height: 1.5;
}

.aboutUs-btn a:hover {
  background-color: #B03A3A;
}

/* about us (homepage) media query */
@media(max-width: 768px){
    .about{
    padding: 5% 10%;
}
    .about img{
    max-width: 200px;
    height: 280px;
    margin-top: 15%;
}
.about-content h1{
    font-size: 1.2rem;
}

.about-content p{
    line-height: 1.1rem;
    font-size: 0.6rem;
}

.aboutUs-btn a {
  font-size: 0.5rem;
  padding: 8px 30px 8px 20px; /* space for text + arrow */
 
}

.about-content p{
    margin-top: 8px;
    text-align: justify;
}
}


/* ------------------------browse recipe(homepage)-------------------------------- */
#browse-recipe{
    padding: 7% 12%;
}
#browse-recipe h1{
    text-align: center;
    color: #212121;
    font-family: 'Playfair Display';
    font-size: 2.1rem;
    font-weight: lighter;
}

/* cards */
.categories{
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    position: relative;
    margin-top: 6%;
    max-width: 1200px;
    padding: 0 40px; /* Add space for buttons */
}

/* Cards Container (Sliding Part) */
.categories-inner {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
    padding: 10px 0;
}


.category-card{
    min-width: calc(25% - 15px); /* Show 4 cards */
    border: 1px solid #DBDFD0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    font-family: 'DM Sans';
    color: #212121;
    overflow: hidden;
    transition: all 0.3s ease-in-out;  
}

.category-card:hover{
    transform:scale(1.04);
    border: 1px solid #861F1F;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}


.categories img{
    background-color: #F3F3F0;
    border-radius: 50px;
    padding: 20px;
    object-fit: cover;
}

.category-card h3 {
     margin: 0 0 10px 0;
}

.category-card p{
    font-size: 0.8rem;
    margin: 0 0 15px 0;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    color: #666;
}

.category-card a{
    display: inline-block;
    margin-top: 1.5rem;
    color: #861F1F;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.category-card a:hover{
    color: #B03A3A;
}

.categories #browse-next-btn, .categories #browse-prev-btn{
      background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.categories #browse-prev-btn {
    left: 0;
}

.categories #browse-next-btn {
    right: 0;
}

/* browse recipe(home) media query */
@media(max-width:768px) {
  #browse-recipe h1{
    font-size: 1.9rem;
}
  
.category-card{
    min-width: calc(40% - 10px); 
}


}



/* ------------------share recipe (homepage)-------------------- */
#share-recipe{
    background-color: #F9F9F7;
    padding: 7% 12%;
    display: flex;
    gap: 4%;
    color: #212121;
}

#share-recipe img{
    border-radius: 10px;
    object-fit: cover;
    max-width: 400px;
    height: 400px;
}

/* share now content */
.share-recipe-content h1{
    font-family: 'Playfair Display';
    font-weight: lighter;
    font-size: 3rem;
}

.share-recipe-content p{
    font-family: 'DM Sans';
    margin-top: 15px;
    line-height: 2rem;
    text-align: justify;
}

.share-recipe-content{
    margin-top: 50px;
}

/* share now button */
.share-now-btn {
  margin-top: 6%;
  width: fit-content;
}

.share-now-btn a {
  background-color: #861F1F;
  color: white;
  text-decoration: none;
  font-family: 'DM Sans';
  font-size: 0.8rem;
  border-radius: 50px;
  padding: 8px 30px 8px 20px; /* space for text + arrow */
  display: inline-block;
  background-image: url(images/arrow-forward.png);
  background-repeat: no-repeat;
  background-position: right 12px center;
  transition: background-color 0.3s ease-in;
  line-height: 1.5;
}

.share-now-btn a:hover {
  background-color: #B03A3A;
}

/* share (homepage) media query */
@media(max-width: 768px){
    #share-recipe{
    padding: 5% 10%;
}
    #share-recipe img{
    max-width: 180px;
    height: 280px;
    margin-top: 15%;
}
.share-recipe-content h1{
    font-size: 1.2rem;
}

.share-recipe-content p{
    line-height: 1.1rem;
    font-size: 0.6rem;
}

.share-now-btn a {
  font-size: 0.5rem;
  padding: 8px 30px 8px 20px; /* space for text + arrow */
 
}

.share-now-btn p{
    margin-top: 8px;
    text-align: justify;
}
}

/* -----------------------popular recipe---------------------------------- */
#popular-recipe{
    padding: 7% 12%;
    position: relative;
}

#popular-recipe h1{
    text-align: center;
    color: #212121;
    font-family: 'Playfair Display';
    font-size: 2.1rem;
    font-weight: lighter;
}

.popular-recipe-container{
    overflow: hidden;
    position: relative;
    display: flex;
    margin-top: 6%;
    gap: 20px;
    max-width: 1200px;
    padding: 0 40px;
    width: 100%; 

}

.popular-recipe-card{
     flex: 0 0 calc(33.33% - 13.33px);
    border: 1px solid #DBDFD0;
    border-radius: 10px;
    text-align: left;
    font-family: 'DM Sans';
    color: #212121;
    overflow: hidden;
    transition: all 0.3s ease-in-out;  
}

.popular-recipe-card:hover{
    transform:scale(1.03);
    border: 1px solid #861F1F;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Cards Container (Sliding Part) */
.popular-recipe-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
    padding: 10px 0; 
}

/* card content */
.popular-recipe-card .content{
    padding: 20px;
}

.popular-recipe-card img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    border-radius: 10px 10px 0 0;
    
}

.popular-recipe-card p{
    font-size: 0.8rem;
    color: #666;
    margin: 10px 0;

}

.popular-recipe-card a{
    display: inline-block;
    margin-top: 1.5rem;
    color: #861F1F;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.popular-recipe-card a:hover{
    color: #B03A3A;
}

/* next and previous buttons */
.popular-recipe-container #popular-next-btn, 
.popular-recipe-container #popular-prev-btn {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}


.popular-recipe-container #popular-prev-btn {
    left: 0px;
}

.popular-recipe-container #popular-next-btn {
    right: 0px;
}

@media(max-width:768px) {
  #popular-recipe h1{
    font-size: 1.9rem;
}
  
.popular-recipe-card{
    flex: 0 0 calc(26% - 10px); 
}

.popular-recipe-card img {
    height: 160px;         /* reduce image height on mobile */
  }
}





/*-------------------------- footer-------------------------------- */
footer{
    background-color: #474747;
    padding: 7% 12% ;
    color: white;
    margin-top: 4%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.about-khana h1{
    font-family: 'Playfair Display';
    font-size: 2.3rem;

}

.about-khana p{
    font-family: 'DM Sans';
    text-align: justify;
    font-weight: lighter;
    font-size: small;
    line-height: 1.4rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
}

/* links */
.quick-links h4, .quick-links a{
    font-family: 'DM Sans';
}

.quick-links a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.quick-links a:hover{
    border-bottom: 1.8px solid white;
}

.quick-links li{
    list-style: none;
    margin-top: 20px;
}

.footer-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

/* images */
.footer-image img{
    object-fit: cover;
    width: 160px;
    height: 160px;
    border-radius: 10px;
    
}

/* copyright */
.copyright{
    text-align: center;
    padding: 5rem 2rem 0;
}

@media(max-width:768px){
  footer{
    padding: 5% 10% ;
    margin-top: 2%;
}

.about-khana h1{
    font-size: 1.8rem;

}

.about-khana p{
  font-size: 12px;
    line-height: 1.2rem;
}

.quick-links li{
    margin-top: 10px;
}

.quick-links a{
  font-size: smaller;
}

.footer-image{
  grid-template-columns: 1fr;
    gap: 8px;
}

.footer-image img{
    width: 90px;
    height: 90px;
    border-radius: 8px;
    
}

}


/* ------------------Explore all recipe page----------------------- */
.exploreRecipeText{
    font-family: 'Playfair Display';
    font-weight: lighter;
    text-align: center;
    margin-top: 3rem;
    font-size: 3.5rem;
    color: #212121;
}

.categories-btn{
    text-align: center;
    margin-top: 30px;
}

.categories-btn a ,.categories-btn .filter-btn{
    display: inline-block;
    margin: 0 10px 0 0;
    text-decoration: none;
    text-align: center;
    color: #212121;
    border: 1px solid #212121;
    border-radius: 30px;
    text-align: center;
    padding: 8px;
    width: 110px;
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.categories-btn a:hover, .categories-btn a.active,.categories-btn .filter-btn:hover,
.categories-btn .filter-btn.active{
    color: white;
    background-color: #861F1F;
    text-decoration: none;
    border: none;
    font-weight: bold;
} 

/* all recipe cards */
#allRecipeSection{
    padding: 7% 12%;
}

.allRecipeContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    row-gap: 30px;
}

/* card content */
.allRecipeCard .content{
    padding: 20px;
}

.allRecipeCard img{
    width: 100%;
    height: 250px;
    object-fit:cover;
    border-radius: 10px 10px 0 0;
    
}

.allRecipeCard p{
    font-size: 0.8rem;
    color: #666;
    margin: 10px 0;
    text-align: justify;

}

.allRecipeCard a{
    display: inline-block;
    margin-top: 1.5rem;
    color: #861F1F;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.allRecipeCard a:hover{
    color: #B03A3A;
}

.allRecipeCard{
    border: 1px solid #DBDFD0;
    border-radius: 10px;
    text-align: left;
    font-family: 'DM Sans';
    color: #212121;
    overflow: hidden;
    /* opacity: 0; */
    transition: all 0.3s ease-in-out; 
    animation: cardAnimation 0.3s  ease-in-out;
}

.allRecipeCard:hover{
    transform:scale(1.03);
    border: 1px solid #861F1F;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

}

.allRecipeCard.hidden{
    display: none;
}

#goBackBtn{
    font-family: 'DM Sans';
    color: #b00020;
    margin-top: 20px;
    border: none;
    background-color: white;
    font-size: large;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

#goBackBtn:hover{
    color:#cc223a;
}

@keyframes cardAnimation {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media(max-width:768px){
  .exploreRecipeText{
    margin-top: 2rem;
    font-size: 2.8rem;
}
 .categories-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 0 8px;
  }

.allRecipeCard p {
    text-align: left;
  }

  .allRecipeCard img{
    height: 200px;
    
}

.allRecipeCard .content {
  padding: 12px;
}

  .allRecipeContainer{
    grid-template-columns: repeat(1,1fr);
    row-gap: 15px;
}
}


/*---------------------------About us page------------------ */
.mission-vision-container {
  display: flex;
  justify-content: space-evenly;
  padding: 7% 12%;
  gap: 50px;
  flex-wrap: wrap;
}

.mission, .vision {
  flex: 1;
  max-width: 400px;
}

.mission h2, .vision h2 {
  font-size: 2.6rem;
  font-weight: lighter;
  margin-bottom: 10px;
  font-family: 'Playfair Display';
    color: #212121;

}

.mission p, .vision p {
  font-size: 1rem;
  color: #212121;
  line-height: 1.8;
  font-family: 'DM Sans';
}

/* <!-- What can you expect from khana diaries --> */
.expect-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F9F9F7; /* soft background */
  padding: 7% 12%;
  gap: 5%;
  flex-wrap: wrap;
}

.expect-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}

.expect-text h2 {
  font-size: 3rem;
  font-weight: lighter;
  margin-bottom: 20px;
  font-family: 'Playfair Display';
  color: #212121;
}

.expect-text p {
  font-size: 1rem;
  line-height: 1.8;
  color: #212121;
  font-family: 'DM Sans';
  text-align: justify;
}

/* image size and border */
.expect-image img {
  width: 420px; 
  height: 460px;
  border-radius: 10px;
  object-fit: cover;
}

@media(max-width: 768px){
  .about-page .about{
    padding: 4% 8%;
  }

  .about-page .about img {
        margin-top: 10%;
    }
  .about-page .about-image img{
    height: 400px;
    width: 200px;
  }
  .about-page .about-content h1{
    font-size: medium;
  }

  .about-page .about-content p{
    font-size: 9px;
  }

  .mission-vision-container {
  padding: 5% 10%;
  gap: 20px;
}

.mission h2, .vision h2 {
  font-size: 2rem;
  margin-bottom: 10px;

}

.mission p, .vision p {
  font-size: 0.6rem;
  line-height: 1.8;
}

/* <!-- What can you expect from khana diaries --> */
.expect-section {
  justify-content: flex-start;
  padding: 5% 10%;
  gap: 5%;
}

.expect-text {
  min-width: 100px;
  max-width: 200px;
}

.expect-text h2 {
  font-size: 1.4rem;
}

.expect-text p {
  font-size: 0.6rem;
  margin-top: -10px;
  line-height: 1.6;
}

/* image size and border */
.expect-image img {
  width: 170px; 
  height: 380px;
}
}


 /* --------------Momo page-------------------  */
 #recipe-nav-links{
    padding: 4% 12%;
 }
 #recipe-nav-links .links{
    display: flex;
    
 }

 .links ul{
    display: flex;
    gap: 10px;
 }

 .links li{
    list-style: none;
 }

 .links a{
    color: #861F1F;
 }

 /* title */
 .recipeTitle{
    padding: 0 12%;  
 }

 .recipeTitle h1{
    font-family: 'DM Sans';
    font-weight: normal;
    color: #212121;

 }

 /* date */
 .date{
    margin-top: 10px;
 }
.posted-date{
    color: #666;
    font-family: 'DM Sans';
    font-size: 0.9rem;
}

 .dish-image{
    padding: 3% 24% 3% 12%;
 }

 .dish-image img{
    object-fit: cover;
    width: 100%;
    height: 450px;
 }

 /* dish image gallery */
 .image-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 15px;
    padding: 0 24% 1.5% 20%;
    flex-wrap: wrap;
 }

 .image-gallery img{
    object-fit: cover;
    height: 110px;
    width: 110px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
 }

 .image-gallery img:hover{
    border: 1.5px solid #B03A3A;
    transform: scale(1.05);
 }

 .image-gallery img.active-gallery{
    border: 1.5px solid #B03A3A;
    box-shadow: 0 0 8px rgba(176, 58, 58, 0.4);
    transform: scale(1.05);
 }

/* description */
.description{
    padding: 1% 24% 3% 12%;
}

.description p {
    text-align: justify;
    font-family: 'DM Sans';
    line-height: 2rem;
}

.description .line{
    width: 100%;
    background-color: #474747;
    margin-top: 50px;
    height: 1px;
}

/* timing */
.timing{
    display: flex;
    padding: 1% 24% 3% 12%;
    margin-top: 50px;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-family: 'DM Sans';
}

.prep-time h5, .cook-time h5 {
    display: flex;               
    align-items: center; /* vertically center icon + text */
    gap: 6px;            /* space between icon and text */
    color: #474747;
    font-weight: normal;
    font-family: 'DM Sans';
    font-size: large;
    margin-bottom: 10px;
}

.timing .small-line{
    width: 1px;
    height: 50px;
    background-color: #474747;
    margin-left: 10px;
}

.timer-icon {
  transition: transform 0.3s ease;
}

.timer-icon:hover {
  transform: scale(1.5);
}


/* ingredients */
.ingredients, .instructions{
    padding: 1% 24% 3% 12%;
    font-family: 'DM Sans';
    color: #212121;
}

.ingredients h2, .ingredients h3, .instructions h2, .instructions h3{
    font-weight: normal;
    line-height: 2.5rem;
}

.ingredients h2,.instructions h2{
    display: flex;               
    align-items: center; /* vertically center icon + text */
    gap: 6px; 
}

.ingredients ul, .instructions ol {
  list-style-position: inside; /* bullets move inside the padding */
}

.ingredients li, .instructions li{
    color: #212121;
    padding-left: 14px;
    line-height: 2rem;
    text-align: justify;
}

.ingredients{
    margin-top: 15px;
}

/* tips */
.tips{
    padding: 20px;
    color: #212121;
    background-color: #fff4e6;
    border-left: 6px solid #861F1F;
    max-width: 700px; 
    width: 90%; 
    overflow-wrap: break-word;
    margin: 25px 25% 25px 12%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-height: 400px; 
    overflow-y: auto;
}

.tips h3{
    font-family: 'DM Sans';
    display: flex;
    gap: 6px;
    align-items: center;
}

.tips li{
    font-family: 'DM Sans';
}

.tips img{
    width: 24px;
    height: 24px;
}

.tips ul{
  list-style-position: inside; /* bullets move inside the padding */
  margin-top: 10px;
}

.tips li{
    color: #212121;
    padding-left: 14px;
    line-height: 1.8rem;
}

.happy-cooking{
    text-align: center;
    color: #861F1F;
    font-family: 'Caveat';
    font-size: 2.5rem;
    margin-top: 5%;
    transition: all 0.3s ease-in-out;
}

.happy-cooking:hover{
animation: shake 0.5s;
cursor: pointer;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25%{transform: translateX(-2px);}
  50% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

/* --------------------you might like--------------- */
#you-might-like{
    padding:1% 24% 3% 12% ;
    margin-top: 6%;
    font-family: 'DM Sans';
    
}

#you-might-like h2{
    color: #212121;
    font-weight: normal;
    margin-bottom: 3%;
    font-size: 1.8rem;
}
#you-might-like h2 .star-icon {
      color: #E6A700;
      margin-right: 8px;
      font-size: 1.5rem;
      vertical-align: middle;
    }


@media(max-width:768px){
  .links a{
    font-size: 12px;
 }

 .recipeTitle h1{
    font-size: 1.4rem;

 }

  .date{
    margin-top: -6px;
 }
.posted-date{
    font-size: 0.7rem;
}

 .dish-image{
    padding: 2% 16% 2% 12%;
 }

 .dish-image img{
    width: 100%;
    height: 250px;
 }

 .image-gallery{
    width: 100%;
    gap: 10px;
    padding: 0 16% 1.5% 12%;
 }

 .image-gallery img{
    height: 70px;
    width: 70px;
 }

 .description{
    padding: 1% 16% 3% 12%;
}

.description p {
    line-height: 1.6rem;
    font-size: 14px;
}

.description .line{
    width: 100%;
    margin-top: 30px;
}

/* timing */
.timing{
    display: flex;
    padding: 1% 16% 3% 12%;
    margin-top: 30px;
    gap: 20px;
}

.prep-time h5, .cook-time h5 {
    display: flex;               
    align-items: center; /* vertically center icon + text */
    gap: 4px;            /* space between icon and text */
    font-size: medium;
    margin-bottom: 10px;
}

.timing .small-line{
  margin-left: 8px;
}

.cook-time p, .prep-time p{
  font-size: 14px;
}

.timer-icon, .ing-icon, .ins-icon{
  height: 20px;
  width: 20px;
}

/* ingredients */
.ingredients, .instructions{
    padding: 1% 16% 3% 12%;
}

.ingredients h2, .instructions h2{
  font-size: 20px;
}
.ingredients h3, .instructions h3{
    font-size: 16px;
}

.ingredients h2,.instructions h2{
    gap: 4px; 
}

.ingredients li, .instructions li{
  font-size: 14px;
}

/* tips */
.tips{
    padding: 15px; 
    width: 72%; 
}

.tips h3{
    gap: 4px;
    font-size: 16px;
}

.tips li{
    font-size: 14px;
}

.tips img{
    width: 20px;
    height: 20px;
}

.tips ul{
  margin-top: 8px;
}

.tips li{
    padding-left: 10px;
    line-height: 1.6rem;
}

.happy-cooking{
    font-size: 2.2rem;
    margin-top: 4%;
}

/* you might like */
#you-might-like{
    padding:1% 16% 3% 12% ;
    margin-top: 5%;
    
}

#you-might-like h2{
    font-size: 1.5rem;
}
#you-might-like h2 .star-icon {
      margin-right: 6px;
      height: 22px;
      width: 22px;
    }



}

    /* --------------------login page--------------------------- */
    #login-page{
        display: flex;
        justify-content: center;
        padding: 5% 12%;
        background-color: #A42A2A;
    }

    .login-container{
        display: flex;
        box-shadow: 5px 5px 8px  #d7d7d7;
        width: 50vw;
        align-items: stretch;
        
    }

    .login-image{
    width: 50%; 
  max-width: 400px; 
  display: flex;
  flex-direction: column;
    }

    .login-image img{
    width: 100%;
  height: 100%;
  object-fit: cover;
    
   }

   .main-login-content{
    padding: 20px;
    margin: 20px auto;
    font-family: 'DM Sans';
   }

   .main-login-content h3{
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
   }

    #login-form{
    margin-top: 40px;
    display: block;
   }

   .main-login-content label{
    display: block;
    margin-top: 20px;
   }

   .main-login-content input[type = "email"], .main-login-content input[type = "password"]{
    font-family: 'DM Sans';
    
   }

   .main-login-content input::placeholder{
    font-size: smaller;
   }

   .main-login-content input{
    margin-top: 4px;
    border: 1px solid #666;
    padding: 4px;
    width: 100%;
    border-radius: 10px;
   }

   .main-login-content input:focus {
    outline: none;
    border-color: #861F1F;
    box-shadow: 0 0 4px rgba(134, 31, 31, 0.4);
}

   .main-login-content button{
    margin-top: 50px;
    font-family: 'DM Sans';
    width: 100%;
    border: none;
    color: white;
    background-color: #861F1F;
    padding: 5px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.5s ease-in-out;
   }

   .main-login-content button:hover{
    background-color: #A42A2A;
   }

   .no-account{
    margin-top: 20px;
   }
   
   .no-account p {
    font-size: 0.8rem;
    text-align: center;
    color: #333;
    margin-top: 10px;
}

.register {
    color: #861F1F;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}


.register:hover {
    color: #A42A2A; /* lighter red on hover */
}

/* register */
#register-form{
    display: none;
}
 #register-form label{
    margin-top: 8px;
    font-size: 0.8rem;

}

#registerBtn{
    margin-top: 20px;
}

.error{
    color: red;
    margin-top: 0px;
    font-size: 12px;
}

.login-btn.login-active{
    color: white;
    background-color: #861F1F;
    text-decoration: none;
    border: none;
}

@media(max-width: 768px){
      #login-page{
        padding: 3% 10%;
    }

    .login-container{
        width: 70vw;
        box-shadow: 0 0 8px  #d7d7d7;
    }

    .login-image{
    width: 0%; 
    }

    .login-image img{
    width: 0%;
  height: 0%;
    
   }

   .main-login-content{
    padding: 18px;
    margin: 16px auto;
   }

   .main-login-content h3{
    font-size: 1.5rem;
   }

    #login-form{
    margin-top: 5px;
   }

   .main-login-content button{
    margin-top: 30px;
   }


}

/* -----------------share recipe----------------------- */
.main-share-content {
  max-width: 600px;    
  margin: 0 auto;     
  padding: 3rem 1rem;  
  font-family: 'DM Sans';
  text-align: center; 
}

.main-share-content h3 {
  font-weight: normal;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #212121;
}

.main-share-content form {
  text-align: left;    
}

.main-share-content label {
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 1rem;
  font-weight: normal;
  font-size: 1.2rem;
  color: #212121;
}

.main-share-content input[type="text"],
.main-share-content textarea,
.main-share-content select,
.main-share-content input[type="file"],
.main-share-content input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  font-family: 'DM Sans';
}

.main-share-content input[type="text"]:focus,
.main-share-content textarea:focus,
.main-share-content select:focus,
.main-share-content input[type="file"]:focus,
.main-share-content input[type="date"]:focus{
    border: 1.4px solid #861F1F;
    box-shadow: 0 0 2px #861F1F;
    outline: none;
}

.main-share-content textarea{
    resize: none;
}


.main-share-content button {
  display: block;
  width: 100%;
  padding: 0.7rem;
  font-size: 1.1rem;
  background-color: #861F1F;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 3rem;
  transition: background-color 0.3s ease-in-out;
}

.main-share-content button:hover {
  background-color: #A42A2A;

}

.share-error {
  color: red;
  font-size: 0.9rem;
  margin-top: -0.45rem;
  margin-bottom: 1rem;
}
.custom-file-upload {
width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'DM Sans';
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.custom-file-upload:hover{
    border: 1.4px solid #861F1F;
    box-shadow: 0 0 2px #861F1F;
}

/* Style all icons inside form labels */
form label i {
  margin-right: 8px;
  color: #212121; 
  font-size: 1rem;
}
form button i{
    margin-left: 8px; 
  font-size: 1rem;
  vertical-align: middle;
}

/* go back button*/
.btn-back {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  color: #861F1F;
  text-decoration: underline;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.btn-back:hover {
  color: #A42A2A;
}

#login-warning{
    text-align: center;
    padding: 7% 12%;
    height: 40vh;
    margin: 20px auto;
    font-size: 1.4rem;
    font-family: 'DM Sans';
}

@media(max-width: 768px){
  .share-page #share-recipe{
    padding: 4% 8%;
    margin-top: -20px;
  }

   .share-page #share-recipe img {
        max-width: 150px;
        height: 250px;
    }
  .share-page .share-recipe-img img{
    width: 350px;
    height: 500px;
  }

  .share-page .share-recipe-content .low-para{
    margin-top: -10px;
  }

  .share-page .share-recipe-content .top-para{
    margin-top: 5px;
  }

  #login-warning{
    padding: 5% 10%;
    height: 20vh;
    font-size: 0.8rem;
}

.main-share-content {    
  padding: 2rem 3rem;   
}

.main-share-content h3 {
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
}

.main-share-content label {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.main-share-content input[type="text"],
.main-share-content textarea,
.main-share-content select,
.main-share-content input[type="file"],
.main-share-content input[type="date"] {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}

.main-share-content button {
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 2.5rem;
}

.share-error {
  font-size: 0.7rem;
  margin-top: 2px;
}
.custom-file-upload {
  padding: 0.3rem;
}

/* Style all icons inside form labels */
form label i {
  margin-right: 6px;
  color: #212121; 
  font-size: 0.8rem;
}
form button i{
    margin-left: 6px; 
  font-size: 0.8rem;
}

/* go back button*/
.btn-back {
  margin-top: 10px;
  padding: 8px 18px;
}


}


